@font-face {
  font-family: "iconfont"; /* Project id 2784540 */
  src: url('iconfont.woff2?t=1631093112921') format('woff2'),
       url('iconfont.woff?t=1631093112921') format('woff'),
       url('iconfont.ttf?t=1631093112921') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qh-icon-feedback-answer:before {
  content: "\e664";
}

.icon-qh-icon-feedback-ask:before {
  content: "\e665";
}

.icon-qh-icon-car-rental:before {
  content: "\e663";
}

.icon-qh-icon-authenticated:before {
  content: "\e653";
}

.icon-qh-icon-chat-picture:before {
  content: "\e654";
}

.icon-qh-icon-chat:before {
  content: "\e655";
}

.icon-qh-icon-qr-code:before {
  content: "\e656";
}

.icon-qh-icon-chat-quickly-words:before {
  content: "\e657";
}

.icon-qh-icon-close-notification:before {
  content: "\e658";
}

.icon-qh-icon-delete:before {
  content: "\e659";
}

.icon-qh-icon-ban:before {
  content: "\e65a";
}

.icon-qh-icon-message:before {
  content: "\e65b";
}

.icon-qh-icon-chat-expression:before {
  content: "\e65c";
}

.icon-qh-icon-edit-outline:before {
  content: "\e65d";
}

.icon-qh-icon-collection:before {
  content: "\e65e";
}

.icon-qh-icon-warning1:before {
  content: "\e65f";
}

.icon-qh-icon-notice:before {
  content: "\e660";
}

.icon-qh-icon-unauthorized:before {
  content: "\e661";
}

.icon-qh-icon-top:before {
  content: "\e662";
}

.icon-qh-icon-industry:before {
  content: "\e638";
}

.icon-qh-icon-plus:before {
  content: "\e639";
}

.icon-qh-icon-menu:before {
  content: "\e63a";
}

.icon-qh-icon-user-error:before {
  content: "\e63b";
}

.icon-qh-icon-setting:before {
  content: "\e63c";
}

.icon-qh-icon-location-small:before {
  content: "\e63d";
}

.icon-qh-icon-shopping:before {
  content: "\e63e";
}

.icon-qh-icon-message-confirm:before {
  content: "\e63f";
}

.icon-qh-icon-pay-confirm:before {
  content: "\e640";
}

.icon-qh-icon-phone:before {
  content: "\e641";
}

.icon-qh-icon-menu-change:before {
  content: "\e642";
}

.icon-qh-icon-warning-filled:before {
  content: "\e643";
}

.icon-qh-icon-trade:before {
  content: "\e644";
}

.icon-qh-icon-success:before {
  content: "\e645";
}

.icon-qh-icon-ordinary-users:before {
  content: "\e646";
}

.icon-qh-icon-shopping-filled:before {
  content: "\e647";
}

.icon-qh-icon-news:before {
  content: "\e648";
}

.icon-qh-icon-work:before {
  content: "\e649";
}

.icon-qh-icon-user:before {
  content: "\e64a";
}

.icon-qh-icon-visa:before {
  content: "\e64b";
}

.icon-qh-icon-user-right:before {
  content: "\e64c";
}

.icon-qh-icon-policy:before {
  content: "\e64d";
}

.icon-qh-icon-translation:before {
  content: "\e64e";
}

.icon-qh-icon-visa-services:before {
  content: "\e64f";
}

.icon-qh-icon-reduce:before {
  content: "\e650";
}

.icon-qh-icon-warning:before {
  content: "\e651";
}

.icon-qh-icon-finance:before {
  content: "\e652";
}

.icon-qh-icon-bidding:before {
  content: "\e622";
}

.icon-qh-icon-car-sales:before {
  content: "\e623";
}

.icon-qh-icon-choose-picture:before {
  content: "\e624";
}

.icon-qh-icon-business-services:before {
  content: "\e625";
}

.icon-qh-icon-crown:before {
  content: "\e626";
}

.icon-qh-icon-finished:before {
  content: "\e627";
}

.icon-qh-icon-feedback:before {
  content: "\e628";
}

.icon-qh-icon-lease-house:before {
  content: "\e629";
}

.icon-qh-icon-idle-goods:before {
  content: "\e62a";
}

.icon-qh-icon-business-opportunity:before {
  content: "\e62b";
}

.icon-qh-icon-email-info:before {
  content: "\e62c";
}

.icon-qh-icon-land-sale:before {
  content: "\e62d";
}

.icon-qh-icon-location:before {
  content: "\e62e";
}

.icon-qh-icon-login-out:before {
  content: "\e62f";
}

.icon-qh-icon-edit-finished:before {
  content: "\e630";
}

.icon-qh-icon-edit-in:before {
  content: "\e631";
}

.icon-qh-icon-info:before {
  content: "\e632";
}

.icon-qh-icon-housekeeping-services:before {
  content: "\e633";
}

.icon-qh-icon-machine-translation:before {
  content: "\e634";
}

.icon-qh-icon-live:before {
  content: "\e635";
}

.icon-qh-icon-insurance:before {
  content: "\e636";
}

.icon-qh-icon-job-recruitment:before {
  content: "\e637";
}

